
nav{
    background-color: #556B2F;
    color: black;
}
.nav_buttons{
    background-color: black;
    color:#556B2F;
}
header{
    background-color: black;
}
body{
    background-color: black;
}
.main_index{
    background-color: #556B2F;
}
a{
    text-decoration: none;
    color: black;
}
.article1 a{
    background-color: black;
    color: #556B2F;
}
.article2{
    background-color: black;
    color: #556B2F;
}
.article3{
    background-color: black;
    color: #556B2F;
}
footer {
    background-color: #556B2F;
}
.footer-links a {
    background-color: black;
    color: #556B2F;
    text-decoration: none;
}
.main_trgovina{
    background-color: #556B2F;
}
.main_o_nama{
    background-color: #556B2F;
}
.prijavi_se_main{
    color: #556B2F;
}
.section_prijavi_se{
    background-color:#556B2F;
    color: black;
}
.section_prijavi_se input{
    background-color: black;
    color: #556B2F;
}
.prijavi_se_main_main {
    background-color: #556B2F;
}
.main_katane{
    background-color: #556B2F;
}
.item {
    border: 0.0625em solid #ccc;
    background-color: black;
    color: #556B2F;
}
.item-image {
    background-color: #f1f1f1;
}
.item-description {
    color: #666;
    font-size: 0.875em;
}
.article4_h1{
    background-color: black;
    color: #556B2F;
}
.main_item{
    background-color: #556B2F;
}